VITE_BACKEND_URL=http://localhost:5000
VITE_SETUP_PATH=/
VITE_GAME_PATH=/game
VITE_LOGIN_PATH=/login
VITE_SIGNUP_PATH=/signup
VITE_PROFILE_PATH=/profiles
VITE_TOS_PATH=/tos
VITE_PRIVACY_POLICY_PATH=/privacypolicy
VITE_SUPABASE_URL=
VITE_SUPABASE_PUBLISHABLE_KEY=
